<link rel="stylesheet" href="/css/comments.css">

<li id="comment-<%= comment._id %>">
    <div id="comment-card" class="container"> 
        <div id="header">
            <h4>
                <%= comment.user.name %>
            </h4>
            <% if (locals.user && locals.user.id == comment.user.id) { %> 
                <a class="delete-comment-button" href="/comments/destroy/<%= comment.id %>">
                    <i class="far fa-times-circle"></i>
                </a>
            <% } %>
                
        </div>
        <div id="content">
            <%= comment.content %>
            <div id="likes">
                <% if(locals.user){ %>
                    <a class="toggle-like-button" data-likes="<%= comment.likes.length %>" href="/likes/toggle/?id=<%=comment._id%>&type=Comment">
                        <%= comment.likes.length %> <b>Likes</b>
                    </a>
                <% } else{ %>
                    <%= post.likes.length %> <b>Likes</b>
                <% } %>
            </div>
        </div>

        <!-- display the likes of the comment, if the user is logged in, then show the link to toggle likes, else just show the count-->
        
        
    </div>
</li>